@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine;

<h4>Add a new cuisine</h4>
@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { required = "required" })
  </div>

  <div class="form-group">
    @Html.LabelFor(model => model.Region)
    @Html.TextBoxFor(model => model.Region, new { required = "required" })
  </div>

  <input type="submit" value="Add new cuisine" />
}

<p class="link">@Html.ActionLink("Go to Home", "Index", "Home")</p>